<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mi Tienda DAM2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="hero">
    <h1>Catálogo online</h1>
    <p>
      Aplicación Ionic + Angular Standalone que consulta
      una API REST y muestra el catálogo en una tabla.
    </p>

    <div class="buttons">
      <ion-button routerLink="/productos" shape="round" size="large">
        Entrar al catálogo
      </ion-button>

      <ion-button
        routerLink="/about"
        class="secondary"
        fill="outline"
        shape="round"
        size="large">
        About
      </ion-button>
    </div>
  </section>
</ion-content>
